
body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:white;
    font-family: sans-serif;
    font-size: large;
}
#header1{
    border: 3px solid purple;
    border-radius: 5px;
}
footer{
    margin: 5px;
}