
body{

    background-image: url(images/space_background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:white;
    font-family: sans-serif;
    font-size: large;
}
#header1{
    border: 3px solid purple;
    border-radius: 5px;
}
footer{
    background-color: white;
    padding: 20px;
}
#form1{
    background-color: gray;
    color: black;
    border: 3px solid black;
    width: 250px;
    padding: 20px;

}
#link_box1{
    background-color: gray;
    width: 250px;
    padding: 20px;
    font-size: large;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: orangered;
}
#lists{
    background-color: gray;
    width: 250px;
    padding: 20px;
}
#table1{
    background-color: gray;
    width: 700px;
    padding: 20px;
}